.nav-menu {
  &__burger-btn {
    margin-top: 4px;
    padding: 16px 16px 16px 24px;
    position: fixed;
    top: 0;
    left: -15px;
    background-color: white;
    border-radius: 0 100px 100px 0;
    z-index: 2;
    transition: left .3s;

    &:hover {
      left: 0;
    }

    &:active {
      left: -15px;
    }
  }

  &__burger-icon {
    transition: transform .3s;

    &--open {
      transform: rotate(180deg);
    }
  }

  &__wrap {
    width: 200px;
    flex-shrink: 0;
    overflow: hidden;
    transition: width .3s;

    &--closed {
      width: 0;
    }
  }

  &__img-wrap {
    margin: 48px;
    height: 100px;
    width: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
  }

  &__setting-btn {
    height: 42px;
    width: 42px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: background-color .3s;

    & svg {
      transition: .3s transform;
    }

    &:hover svg {
      transform: rotate(180deg) scale(1.8);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-transform: uppercase;
    list-style: none;
  }

  &__link {
    padding: 8px 0;
    position: relative;
    display: flex;
    justify-content: center;
    color: black;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      right: 50%;
      height: 2px;
      background-color: green;
      transition: left .3s, right .3s ;
    }

    &:hover {
      &:after {
        left: 0;
        right: 0;
      }
    }

    &--active {
      font-weight: bolder;

      &:after {
        left: 0;
        right: 0;
      }
    }

    &--disabled {
    }
  }
}