.nav-menu {
  &__burger-btn {
    left: -15px;
    transition: left .3s;

    &:hover {
      left: 0;
    }

    &:active {
      left: -15px;
    }
  }

  &__burger-icon {
    transition: transform .3s;

    &--open {
      transform: rotate(180deg);
    }
  }

  &__wrap {
    width: 200px;
    flex-shrink: 0;
    overflow: hidden;
    transition: width .3s;

    &--closed {
      width: 0;
    }
  }

  &__img-wrap {
    height: 100px;
    width: 100px;
  }

  &__setting-btn {
    height: 42px;
    width: 42px;

    & svg {
      transition: .3s transform;
    }

    &:hover svg {
      transform: rotate(180deg) scale(1.8);
    }
  }

  &__link {
    position: relative;
    color: black;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      right: 50%;
      height: 2px;
      background-color: green;
      transition: left .3s, right .3s ;
    }

    &:hover {
      &:after {
        left: 0;
        right: 0;
      }
    }

    &--active {
      font-weight: bolder;

      &:after {
        left: 0;
        right: 0;
      }
    }
  }
}