.order-card {
  width: 100%;
  padding: 0 24px;
  height: 70px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
  transition: box-shadow .3s;

  &--is-open {
    padding: 0 58px 0 24px;

    .order-card__name-wrap, .order-card__price, .order-card__delete {
      padding: 0;
      width: 0;
      min-width: 0;
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }
  }

  &:hover {
    box-shadow: 0 0 5px 5px #0000002d;
  }

  &__name-wrap {
    padding-right: 16px;
    min-width: 200px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    transition: .3s;
  }

  &__name {
    display: -webkit-box;
    text-decoration: underline #6c757d;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__menu-btn {
    margin-right: 16px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 100%;

    transition: border-color .3s;

    &:hover {
      border-color: black !important;
    }
  }

  &__prod-quantity {
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    line-height: 1;

    & :last-child {
      font-size: .8rem;
      color: #6c757d;
    }
  }

  &__price {
    padding-bottom: 8px;
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    overflow: hidden;
    transition: .3s;

    & :first-child {
      font-size: .7rem;
      color: #6c757d;
    }
    & :last-child {
      line-height: 1;
    }
  }

  &__date {
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    line-height: 1;
    text-wrap: nowrap;
  }

  &__date-short {
    font-size: .7rem;
    color: #6c757d;
  }

  &__delete {
    width: 50px;
    overflow: hidden;
    flex-shrink: 0;
    transition: .3s;

    &:hover {
      border-color: black;
    }
  }

  &__active-marker {
    width: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dee2e6;
    border-radius: 0 6px 6px 0;
  }
}

.custom-modal .order-card {
  min-width: auto;
}