.products {
  padding: 72px 24px 0 126px;
  flex-grow: 1;
  background-color: #F0F3F5;
  overflow: hidden;

  &__list {
    margin: -10px;
    padding: 58px 10px 10px;
  }

  .prod-card {
    width: 2500px;
  }
}
