.products {
  flex-grow: 1;
  background-color: #F0F3F5;
  overflow: hidden;

  &__list {
    margin: -10px;
    padding: 58px 10px 10px;
  }

  .prod-card {
    min-width: 1500px;
    width: 100%;
  }
}
