.prod-card {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: white;
  transition: box-shadow .3s;

  &:hover {
    box-shadow: 0 0 5px 5px #0000002d;
  }

  &__status-dot {
    height: 12px;
    width: 12px;
    flex-shrink: 0;
    border-radius: 100%;
  }

  &__img-wrap {
    height: 100%;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  &__name-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    text-decoration: underline #6c757d;
    width: max-content;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  &__guarantee {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 140px;
  }

  &__guarantee-dates {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  &__condition {
    margin: 0 16px;
    width: 55px;
  }

  &__price {
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & :first-child {
      font-size: .7rem;
      color: #6c757d;
    }
    & :last-child {
      line-height: 1;
    }
  }

  &__order {
    margin: 0 16px;
    width: 400px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__manager {
    width: 250px;
    text-decoration: underline #6c757d;
  }

  &__date {
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__date-short {
    font-size: .7rem;
    color: #6c757d;
  }

  &__delete {
    &:hover {
      border-color: black;
    }
  }
}

.custom-modal .prod-card {
  min-height: 70px;
  height: auto;
  justify-content: start;

  &:hover {
    box-shadow: none;
  }

  &__name-wrap {
    margin: 0 16px;
    width: 100%;
  }

  &__name {
    width: 100%;
    -webkit-line-clamp: none;
  }
}
