.prod-card {
  height: 70px;
  min-width: max-content;

  &__status-dot {
    height: 12px;
    width: 12px;
    flex-shrink: 0;
  }

  &__name {
    text-decoration: underline #6c757d;
    width: 430px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  &__status {
    width: 100px;
  }

  &__guarantee {
    width: 135px;
  }

  &__condition {
    width: 55px;
  }

  &__price {
    width: 130px;

    & :first-child {
      font-size: .7rem;
      color: #6c757d;
    }
    & :last-child {
      line-height: 1;
    }
  }

  &__group {
    width: 400px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__manager {
    width: 250px;
    text-decoration: underline #6c757d;
  }

  &__date {
    width: 130px;
  }

  &__date-short {
    font-size: .7rem;
    color: #6c757d;
  }

  &__delete {
    &:hover {
      border-color: black;
    }
  }
}

.custom-modal .prod-card {
  min-width: auto;
}
